.Container {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  z-index: 1;
}

.ContainerFull {
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.ContainerShort {
  height: 110px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}

.LogoContainer {
  h1 {
    color: #fff;
  }
}

.DropdownContainer {
  padding: 25px;
  cursor: pointer;
  border: 1px solid red;
}
